body{
    line-height: 1.5;
}
ul, li{
    list-style: none;
}

h6, h5, h4, h3, h2, h1, p {
    margin: 0 !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

a{
    display: flex !important;
    align-items: center;
    height: 100%;
}

p{
    font-family: 'Noto Sans TC', sans-serif !important;
}