$primary:       #030303; // black
$secondary:     #FBFF22; // yellow
$reminder:         #C96464; // pink

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "reminder":   $reminder,
);

$font-family-sans-serif: 'Yeseva One', cursive ,'Noto Serif TC', serif, 'Noto Sans TC', sans-serif;

// $link-color:      $dark;
// $link-decoration: none;
