<nav class="border-bottom border-primary border-2">
    <div class="container d-flex py-12 py-md-24">

        <!-- Logo -->
        <a href="index.html" class="d-flex justify-content-start align-items-center me-md-24">
            <img class="h1logo" src="/assets/images/logo.png" alt="logo" width="40px" height="40px">
            <h1 class="nav-brand d-none d-lg-block ms-16">7TAO<span class="fs-16 fw-bold ms-4 align-middle">活動訂票網</span></h1>
        </a>

        <!-- Search bar -->
        <div class="input-group w-auto mx-24">
            <input type="text" class="form-control rounded-0 bg-mud border-primary Noto-Sans-TC" placeholder="探索活動" aria-label="search bar" aria-describedby="searchBtn">
            <a href="#" class="btn btn-primary text-secondary rounded-0" id="searchBtn"><i class="icofont-search-1"></i></a>
        </div>

        <!-- Menu: Web -->
        <ul class="nav ms-auto d-none d-md-flex">
            <li class="nav-item me-24"><a href="#" class="fs-18 nav-hover"><i class="icofont-ui-file me-4"></i>REGISTER</a></li>
            <li class="nav-item"><a href="#" class="fs-18 nav-hover"><i class="icofont-ui-user me-4"></i>LOGIN</a></li>
        </ul>

        <!-- Menu: Pad -->
        <div class="btn-group d-md-none d-flex align-items-center ms-auto py-4 px-12 border border-2 border-primary rounded-2">
            <img src="/assets/images/menu.svg" alt="menu" width="30px" height="30px">
        </div>
    </div>
</nav>