<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body style="background-color: #eae9e3;">
    <%- include('./layout/header'); -%>
    <!-- header -->
    <header>
      <div class="container">
        <div class="card bg-dark text-white rounded-0 mt-32">
          <img src="/assets/images/event-13.jpg" class="card-img rounded-0 event-cover" alt="event cover" style="object-fit: cover; height: 350px;">
          <div class="card-img-overlay px-40 px-md-48 py-0 d-flex flex-column justify-content-between">
            <h2 class="card-title fs-32 fs-md-60 pt-16 pt-lg-48">19 MAY <br class="d-block d-sm-none">2023</h2>
            <div>
              <h3 class="text-center mb-16 fw-bold fs-18 fs-md-24">隔牆有耳-沒有草東的派對</h3>
              <p class="text-center mb-24 d-none d-lg-block">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
              <br>帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <!-- Navigation -->
      <nav class="container py-48">
        <div class="row row-cols-3 row-cols-lg-6 m-0">
          <div class="col border border-primary">
            <a href="#" class="py-20 py-sm-35 flex-column justify-content-center">
              <img width="40px" height="40px" class="event-icon" src="/assets/images/cate01.svg" alt="event icon">
              <p class="mt-12 Noto-Serif-TC fs-md-24 fw-bold">演出</p>
            </a>
          </div>
          <div class="col border border-primary">
            <a href="#" class="py-20 py-sm-35 flex-column justify-content-center">
              <img width="40px" height="40px" class="event-icon" src="/assets/images/cate02.svg" alt="event icon">
              <p class="mt-12 Noto-Serif-TC fs-md-24 fw-bold">聯誼</p>
            </a>
          </div>
          <div class="col border border-primary">
            <a href="#" class="py-20 py-sm-35 flex-column justify-content-center">
              <img width="40px" height="40px" class="event-icon" src="/assets/images/cate03.svg" alt="event icon">
              <p class="mt-12 Noto-Serif-TC fs-md-24 fw-bold">展覽</p>
            </a>
          </div>
          <div class="col border border-primary">
            <a href="#" class="py-20 py-sm-35 flex-column justify-content-center">
              <img width="40px" height="40px" class="event-icon" src="/assets/images/cate04.svg" alt="event icon">
              <p class="mt-12 Noto-Serif-TC fs-md-24 fw-bold">美食</p>
            </a>
          </div>
          <div class="col border border-primary">
            <a href="#" class="py-20 py-sm-35 flex-column justify-content-center">
              <img width="40px" height="40px" class="event-icon" src="/assets/images/cate05.svg" alt="event icon">
              <p class="mt-12 Noto-Serif-TC fs-md-24 fw-bold">戶外</p>
            </a>
          </div>
          <div class="col border border-primary bg-primary">
            <a href="event.html" class="py-20 py-sm-35 flex-column justify-content-center">
              <h4 style="letter-spacing: 0px;" class="fw-bold Noto-Serif-TC text-secondary fs-24 fs-md-40 fs-xxl-48">探索 <br>更多</h4>
            </a>
          </div>
        </div>
      </nav>

      <!-- Blog -->
      <article>
        <div class="container">
          <h2 class="fs-24 fs-md-48 fs-xxl-64 d-flex justify-content-between align-items-center border border-primary border-3 mb-32 py-24 px-32">
            RECENT
            <span class="fw-bold fs-16 fs-md-28 fs-xxl-32">近期活動</span>
          </h2>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5">
            <%- include('./layout/event'); -%>
          </div>
        </div>
      </article>

      <!-- Online event -->
      <article>
        <div class="container py-48 py-lg-60">
          <h2 class="fs-24 fs-md-48 fs-xxl-64 d-flex justify-content-between align-items-center border border-primary border-3 mb-32 py-24 px-32">
            ONLINE
            <span class="fw-bold fs-16 fs-md-28 fs-xxl-32">線上活動</span>
          </h2>
          <div class="card rounded-0 bg-mud border-0">
            <div class="row">
              <div class="col-12 col-lg-7">
                <div class="ratio ratio-21x9 h-100">
                  <img src="/assets/images/event-online.jpg" class="img-fuild" style="object-fit: cover;" alt="onine event banner">
                </div>
              </div>
              <div class="col-12 col-lg-5">
                <div class="card-body p-0">
                  <h3 class="card-title mt-12 mt-lg-0 mb-16 fw-bold fs-18 fs-md-32">切特居批踢</h3>
                  <!-- online event tags -->
                  <ul class="d-flex fs-14 fs-md-16 fw-bold p-0">
                    <li class="border border-primary tag-hover-0 me-8">
                      <a href="#" class="py-4 ps-20 pe-24 border-start border-primary border-4 tag-hover">競賽</a>
                    </li>
                    <li class="border border-primary tag-hover-0 me-8">
                      <a href="#" class="py-4 ps-20 pe-24 border-start border-primary border-4 tag-hover">科技</a>
                    </li>
                    <li class="border border-primary tag-hover-0">
                      <a href="#" class="py-4 ps-20 pe-24 border-start border-primary border-4 tag-hover">有趣</a>
                    </li>
                  </ul>
                  <!-- online event content -->
                  <p class="card-text py-32">
                    最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
                    <br>這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
                    <br>該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
                  </p>
                  <a href="#" class="btn btn-primary rounded-0 d-flex justify-content-center Noto-Sans-TC btn-hover">查看活動詳情</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <!-- Album -->
      <article>
        <p class="Noto-Serif-TC py-16 py-lg-24 fs-16 fs-md-24 fs-lg-32 text-secondary bg-primary overflow-hidden text-center text-nowrap fw-bold" style="letter-spacing: 3px !important;">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</p>
        <div class="container py-48 py-lg-60">
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center gy-5">
            <!-- album 1 -->
            <div class="col">
              <div class="text-center p-12 border border-primary border-2" style="transform: rotate(0deg);">
                <div class="ratio ratio-1x1 pb-12">
                  <img src="/assets/images/album-01.jpg" class="img-fluid" style="object-fit: cover;" alt="album photo">
                </div>
                <p class="Noto-Serif-TC text-start fw-bold fs-18 mt-12 mb-32">無聲派對-閉閉嘴dancing</p>
                <div class="d-inline-block py-8 px-16 fw-bold bg-white album-tag">社群活動</div>
              </div>
            </div>
            <!-- album 2 -->
            <div class="col">
              <div class="text-center p-12 border border-primary border-2" style="transform: rotate(2deg);">
                <div class="ratio ratio-1x1 pb-12">
                  <img src="/assets/images/album-02.jpg" class="img-fluid" style="object-fit: cover;" alt="album photo">
                </div>
                <p class="Noto-Serif-TC text-start fw-bold fs-18 mt-12 mb-32">拯救老店大作戰</p>
                <div class="d-inline-block py-8 px-16 fw-bold bg-white album-tag">藝文活動</div>
              </div>
            </div>
            <!-- album 3 -->
            <div class="col">
              <div class="text-center p-12 border border-primary border-2" style="rotate: -2deg;">
                <div class="ratio ratio-1x1 pb-12">
                  <img src="/assets/images/album-03.jpg" class="img-fluid" style="object-fit: cover;" alt="album photo">
                </div>
                <p class="Noto-Serif-TC text-start fw-bold fs-18 mt-12 mb-32">內觀修行-部落篇</p>
                <div class="d-inline-block py-8 px-16 fw-bold bg-white album-tag">自我覺察</div>
              </div>
            </div>
            <!-- album 4 -->
            <div class="col">
              <div class="text-center p-12 border border-primary border-2" style="transform: rotate(2deg);">
                <div class="ratio ratio-1x1 pb-12">
                  <img src="/assets/images/album-04.jpg" class="img-fluid" style="object-fit: cover;" alt="album photo">
                </div>
                <p class="Noto-Serif-TC text-start fw-bold fs-18 mt-12 mb-32">賞櫻野餐</p>
                <div class="d-inline-block py-8 px-16 fw-bold bg-white album-tag">聯誼活動</div>
              </div>
            </div>
          </div>
        </div>
        <p class="Noto-Serif-TC py-16 py-lg-24 fs-16 fs-md-24 fs-lg-32 text-secondary bg-primary overflow-hidden text-center text-nowrap fw-bold" style="letter-spacing: 3px !important;">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</p>
      </article>

      <!-- Contact -->
      <div class="container py-48 py-lg-60"> 
        <div class="row row-cols-1 row-cols-lg-2 gy-4">
          <!-- Left: follow us -->
          <div class="col">
            <h3 class="fs-32 py-16 px-32 border-top border-start border-end border-primary border-2">#FOLLOW US</h3>
            <div class="border border-primary border-2 p-32">
              <p class="mb-32">想第一時間獲得新奇有趣的活動資訊？
                <br>追蹤我們的社群吧！
                <br>也歡迎你聯繫我們，提供好玩有趣的活動企劃。
              </p>
              <ul class="p-0 m-0">
                <li class="mb-16">
                  <a href="#">
                    <i class="bg-primary text-white p-8 me-16 icofont-ui-email"></i>
                    <p>7tao.event@gmail.com</p>
                  </a>
                </li>
                <li class="mb-16">
                  <a href="#">
                    <i class="bg-primary text-white p-8 me-16 icofont-phone"></i>
                    <p>09123123123</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="bg-primary text-white p-8 me-16 icofont-facebook"></i>
                    <p>7TAO七逃</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Right: suscribe us -->
          <div class="col">
            <h3 class="fs-32 py-16 px-32 border-top border-start border-end border-primary border-2">#SUBSCRIBE US</h3>
            <form>
              <div class="card-body border border-primary border-2 p-32">
                <p class="mb-32" >訂閱電子報送折價券！
                  <br>定期精選文章資訊及最新優惠資訊，
                  <br>還不通通給我訂閱起來？
                </p>
                <input type="email" placeholder="輸入Email" class="border border-2 border-primary bg-mud mb-25 w-100 py-16 ps-24 Noto-Sans-TC">
              </div>
              <a href="#" type="submit" class="btn btn-primary link-white py-8 rounded-0 d-flex justify-content-center Noto-Sans-TC btn-hover">確認訂閱
                <img src="/assets/images/rounded-double-right 2.svg" class="ms-4" with="16px" height="16px" alt="double arrow icon">
              </a>
            </form>
          </div>
        </div>
      </div>

      <!-- Quote -->
      <blockquote class="blockquote border-top border-2 border-primary m-0">
        <div class="container py-48 py-lg-60 text-center">
            <p class="fs-18 fs-sm-24 fs-md-32 fw-bold mb-12 mb-md-16 Yeseva-One">此刻打盹，你將做夢；此刻學習，你將圓夢</p>
            <p class="fs-14 fs-md-18 Noto-Serif-TC fw-bold">——我也不知道誰說的</p>
        </div>
      </blockquote>
    </main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
